@use "mixin" as m;

/*------------------------------------------------
    ファイル名：_main.scss
    機能：webページ全体のスタイルを記述する
--------------------------------------------------*/

/*----------------------
  レイアウト
------------------------*/
/*--- ヘッダー ---*/
.ly_header {
    position: absolute;
    z-index: 99;
    width: 100vw;
    padding: 19px 0;
}

/* Contactページ用 */
.ly_header__contact {
    padding: 40px 0;
}

/* 途中から背景色をつける */
.ly_header__bg {
    position: fixed;
    padding: 30px 0;

    background-color: #282f35;
}

.ly_header_inner {
    display: flex;
    padding: 0 120px;

    justify-content: space-between;
    align-items: center;
}

/*--- コンテンツ ---*/
.ly_section {
    width: 100vw;
}

.ly_cont {
    width: 100vw;
    padding: 100px 120px 70px 120px;
}

.pg_contact {
    .ly_cont {
        padding: 97px 0 80px 0;
    }
}

.ly_cont__pt104 {
    padding-top: 104px;
}

.ly_cont_inner {
    padding: 80px 100px 70px 100px;
    margin: 0 auto;
}

.ly_cont_inner__pt70 {
    padding-top: 70px;
}

.ly_cont_full {
    width: 100vw;
    padding: 80px 0 70px 0;
    margin: 0 calc(50% - 50vw);
}

/*--- フッター ---*/
.ly_footer {
    position: absolute;
    z-index: 99;
    width: 100vw;
    padding: 30px 0;
    margin: 0 auto;

    text-align: center;
}

/*----------------------
  モジュール
------------------------*/
/*--- サイトタイトル ---*/
.el_sitettl {
    /* 文字設定 */
    color: #ffffff;
    text-decoration: none;
    font-size: 1.625rem;
    font-weight: bold;
    font-style: italic;
    @include m.letterSpacingAdjustment(.05em);
    white-space: nowrap;

    /* 余白設定 */
    margin: 0;
}

/*--- ヘッダーナビゲーション ---*/
.bl_headerNav {
    display: flex;
    margin: 0;

    list-style: none;

    &>*:last-child {
        margin-right: 0;
    }

    &>li {
        margin-right: 30px;
    }
}

.bl_headerNav_link {
    /* 文字設定 */
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    @include m.letterSpacingAdjustment(.05em);
    text-decoration: none;
}

/*--- メインビジュアル ---*/
.bl_jumbotron {
    height: 100vh;
    width: 100vw;

    /* slick(jQuery)を適応すると、右に余白ができてしまう対策 */
    overflow: hidden;
}

.bl_jumbotron_slide {
    padding: 0;
    margin: 0;

    list-style: none;
}

.bl_jumbotron_slideItem img{
    height: 100vh;
    width: 100vw;
    object-fit:cover;
}

.bl_jumbotron_inner {
    display: flex;
    margin-left: 120px;
}

.bl_jumbotron_txt {
    position: absolute;
    top: 409px;

    text-align: center;
}

.bl_jumbotron_maincopy {
    z-index: 10;
    margin: 0;

    /* 文字設定 */
    color: #ffffff;
    font-size: 4.375rem;
    font-weight: bold;
    @include m.letterSpacingAdjustment(.05em);
    white-space: nowrap;
}

.bl_jumbotron_subcopy {
    /* 文字設定 */
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    @include m.letterSpacingAdjustment(.05em);

    /* 余白設定 */
    padding-top: 20px;
    margin: 0;
}

/*--- タイトル（h2） ---*/
.el_h2Heading {
    display: inline-block;
    position: relative;
    margin-left: 100px;

    &>h2 {
        display: inline-block;
        /* 文字設定 */
        font-size: 3.75rem;
        font-weight: bold;
        font-style: italic;
        @include m.letterSpacingAdjustment(.05em);

        /* 余白設定 */
        margin: 0 233px 0 0;
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 0;
        height: 5px;
        width: 200px;

        transform: translateY(-50%);
        content: "";
        background-color: #000000;
    }

    /* Works用タイトル */
    &.el_h2Heading__works {
        display: flex;
        justify-content: flex-end;

        &>h2 {
            color: #ffffff;
            @include m.letterSpacingAdjustment(.1em);
            margin: 0 248px 0 0;
        }

        &::after {
            background-color: #ffffff;
        }
    }

    /* Service用タイトル */
    &.el_h2Heading__service {

        &>h2 {
            @include m.letterSpacingAdjustment(.1em);
            margin: 0 229px 0 0;
        }
    }

    /* Contact用タイトル */
    &.el_h2Heading__contact {
        display: flex;
        justify-content: flex-end;

        &>h2 {
            color: #ffffff;
            @include m.letterSpacingAdjustment(.1em);
            margin: 0 231px 0 0;
        }

        &::after {
            background-color: #ffffff;
        }
    }
}

/*--- メッセージ（主張） ---*/
.el_msg {
    /* 文字設定 */
    text-align: center;
    font-weight: bold;
    font-size: 1.875rem;
    @include m.letterSpacingAdjustment(.05em);
    @include m.lineHeightAdjustment(1.666666);

    /* 余白設定 */
    margin: 0;

    /* フォント調整 */
    &::before {
        margin-top: -2px;
    }

    &::after {
        margin-bottom: -2px;
    }
}

/*--- メディア ---*/
.bl_media {
    display: flex;
    align-items: center;
}

.bl_media_body {
    width: 44%;
    margin-right: 12%;
}

.bl_media_txt {
    /* 文字設定 */
    font-weight: bold;
    @include m.letterSpacingAdjustment(.05em);
    @include m.lineHeightAdjustment(1.875);
    margin: 0;
}

.bl_media_imgWrapper {
    width: 44%;

    /* 余白設定 */
    margin: 0;
}

/*--- 半透明テキスト ---*/
.el_opacityTxt {
    opacity: 5%;

    /* 文字設定 */
    color: #171717;
    font-weight: bold;
    font-size: 5.625rem;
    @include m.letterSpacingAdjustment(.05em);
    white-space: nowrap;

    /* 右寄せ */
    &.el_opacityTxt__right {
        display: flex;
        justify-content: right;
    }

    /* 白 */
    &.el_opacityTxt__white {
        opacity: 10%;
        color: #ffffff;
    }
}

/*--- 背景画像 ---*/
.el_bgimg {
    background-position: center center;
    background-size: cover;

    &.el_bgimg__works {
        background-image: url(../img/works-bgi@2x.jpg);
    }

    &.el_bgimg__contact {
        background-image: url(../img/contact-bgi@2x.jpg);
    }
}

/*--- カード ---*/
.bl_card {
    box-shadow: 0 0 6px #000000;
    background-color: #ffffff;
}

.bl_card_imgWrapper {
    margin: 0;

    &>img {
        width: 100%;
    }
}

.bl_card_txt {
    /* 文字設定 */
    @include m.letterSpacingAdjustment(.05em);
    @include m.lineHeightAdjustment(1.875);

    /* 余白設定 */
    margin: 25px 20px 26px 20px;

    /* フォント調整 */
    &::before {
        margin-top: -3.5px;
    }

    &::after {
        margin-bottom: -3.5px;
    }
}

.bl_cardUnit__col3 {
    &>.bl_card {
        width: 32%;

        /* 余白設定 */
        margin-right: 2%;

        /* 相殺対象（★） */
        margin-bottom: 25px;
    }

    &>.bl_card:nth-of-type(3n) {
        /* 一番右のカードに右側余白は不要 */
        margin-right: 0;
    }
}

.bl_cardUnit {
    display: flex;

    flex-wrap: wrap;

    &.bl_cardUnit__col3 {
        /* カードが複数行に渡った時、最下部のマージンを相殺（★） */
        margin-bottom: -25px;
    }
}

/*--- ボタン ---*/
.el_roundedBtn {
    /* 文字は上下中央揃え */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 中央揃え */
    margin: 0 auto;

    /* サイズ設定 */
    box-sizing: border-box;
    height: 59px;
    width: 235px;

    /* ボタンの装飾設定 */
    background-color: #f7d43f;
    box-shadow: 0 0 6px #1b1310;
    border-radius: 29.5px;
    border: none;

    /* 文字設定 */
    color: #171717;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    @include m.letterSpacingAdjustment(.05em);
}

/*--- 画像付きリンク ---*/
.bl_imgLinks {
    display: flex;
    list-style: none;

    /* 余白設定 */
    padding: 0;
    margin: 0;
}

.bl_imgLinks_img {
    flex: 1;
    background-position: center center;
    background-size: cover;
    aspect-ratio: 3/2;

    &.bl_imgLinks_img__hearing {
        background-image: url(../img/service-img01@2x.jpg);
    }

    &.bl_imgLinks_img__planning {
        background-image: url(../img/service-img02@2x.jpg);
    }

    &.bl_imgLinks_img__direction {
        background-image: url(../img/sevice-img03@2x.jpg);
    }
}

.bl_imgLinks_link {
    /* 文字は上下中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;

    /* クリック可能エリアは画像いっぱい */
    height: 100%;
    width: 100%;

    /* リンクのデコレーションを無効化 */
    text-decoration: none;

    /* 文字設定 */
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    @include m.letterSpacingAdjustment(.05em);

    /* ホバー時、フォーカス時の設定 */
    &:hover,
    &:focus {
        background-color: rgba(40, 47, 53, 70%);
    }
}

/*--- CTAエリア ---*/
.bl_cta_txt {
    /* 余白設定 */
    margin-top: 0;
    margin-bottom: 45px;


    /* 文字設定 */
    color: #ffffff;
    text-align: center;
    font-size: 1.25rem;
    @include m.letterSpacingAdjustment(.05em);
    @include m.lineHeightAdjustment(1.45);
}

/*--- フッター ---*/
.el_copyRight {
    /* 余白設定 */
    margin: 0;

    /* 文字設定 */
    font-size: .875rem;
    font-weight: bold;
    @include m.letterSpacingAdjustment(.05em);
}

/*--- Contactページ ---*/
/*--- メインビジュアル ---*/
.bl_mainVisual {
    /* 透過文字の基準点にする */
    position: relative;

    /* サイズ設定 */
    height: 453px;
    width: 100vw;

    /* 画像設定 */
    background-image: url(../contact/img/contact-page-bgi@2x.jpg);
    background-position: center center;
    background-size: cover;

    /* 透過文字 */
    .el_opacityTxt {
        position: absolute;
        bottom: 40px;
        left: 48px;
    }
}

/*--- ページタイトル ---*/
.el_pageTitle {
    /* 上下中央揃え */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 文字設定 */
    color: #ffffff;
    font-size: 3.75rem;
    font-style: italic;
    font-weight: bold;
    @include m.letterSpacingAdjustment(.1em);

    /* 余白設定 */
    margin: 0;
}

/*--- お問い合わせフォーム ---*/
.bl_contactForm {
    max-width: 760px;

    /* 余白設定 */
    /* 画面幅が700px以下になったとき、
        ギチギチにならないように左右に30pxずつ余白を設ける */
    padding: 0 30px;
    margin: 0 auto;
}

.bl_contactForm_item {
    /* 余白設定 */
    margin-bottom: 21px;

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        width: 100%;
        border: 1px solid #141414;

        /* 元のデザインを消去 */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        height: 30px;
    }

    textarea {
        display: block;
        height: 171px;
    }
}

/* 項目名 */
.bl_contactForm_ttl {
    display: block;

    /* 文字設定 */
    @include m.letterSpacingAdjustment(.05em);

    /* 余白設定 */
    margin: 0 0 4px 0;
}

/* チェックボックスを横並びにする */
.bl_checkboxUnit {
    display: flex;
}

/* チェックボックス */
.bl_checkbox {
    /* チェックボックスとラベルを中央揃えにする */
    display: inline-flex;
    align-items: center;

    input[type="checkbox"] {
        position: relative;
        height: 10px;
        width: 10px;
        margin: 0 10px 0 0;

        /* 元のデザインを消去 */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        /* ボックスデザインを定義 */
        &::before {
            position: absolute;
            display: inline-block;
            height: 10px;
            width: 10px;

            content: "";
            box-sizing: border-box;
            border: 1px solid #141414;
        }

        /* チェックマークデザインを定義 */
        &::after {
            position: absolute;
            display: inline-block;

            /* チェックマーク設定 */
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: .5rem;
            opacity: 0;
        }

        &:checked::after {
            opacity: 1;
        }
    }

    label {
        margin-right: 20px;

        /* 文字設定 */
        @include m.letterSpacingAdjustment(.05em);
        white-space: nowrap;
    }
}

/*--- 色指定 ---*/
.bg_gray30 {
    display: inline-block;
    height: 100%;
    width: 100%;

    background-color: rgba(23, 23, 23, 30%);
}

/* パディング指定 */
.hp_pb60 {
    padding-bottom: 60px !important;
}

.hp_pb70 {
    padding-bottom: 70px !important;
}

.hp_pb80 {
    padding-bottom: 80px !important;
}

/* マージン指定 */
.hp_mb2 {
    margin-bottom: 2px !important;
}

.hp_mb3 {
    margin-bottom: 3px !important;
}

.hp_mb20 {
    margin-bottom: 20px !important;
}

.hp_mb80 {
    margin-bottom: 80px;
}