@use "mixin" as m;

/*------------------------------------------------
    ファイル名：_main.scss
    機能：webページ全体のスタイルを記述する
--------------------------------------------------*/

/*----------------------
  レイアウト
------------------------*/
/*--- ヘッダー ---*/
.ly_header {
    position: absolute;
    z-index: 99;
    width: 100vw;
    padding: 19px 0;
}

/* Contactページ用 */
.ly_header__contact {
    padding: 40px 0;
}

/* 途中から背景色をつける */
.ly_header__bg {
    position: fixed;
    padding: 30px 0;

    background-color: #282f35;
}

.ly_header_inner {
    display: flex;
    padding: 0 120px;

    justify-content: space-between;
    align-items: center;
}

/*--- コンテンツ ---*/
.ly_section {
    width: 100vw;
}

.ly_cont {
    padding: 100px 120px 70px 120px;
}

.ly_cont__pt104 {
    padding-top: 104px;
}

.ly_cont_inner {
    padding: 80px 100px 70px 100px;
    margin: 0 auto;
}

.ly_cont_inner__pt70 {
    padding-top: 70px;
}

.ly_cont_full {
    width: 100vw;
    padding: 80px 0 70px 0;
    margin: 0 calc(50% - 50vw);
}

/*--- フッター ---*/
.ly_footer {
    position: absolute;
    z-index: 99;
    width: 100vw;
    padding: 30px 0;
    margin: 0 auto;

    text-align: center;
}

/*----------------------
  モジュール
------------------------*/
/*--- サイトタイトル ---*/
.el_sitettl {
    margin: 0;

    /* フォント指定 */

    color: #ffffff;
    font-size: 1.625rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .05em;
    line-height: 1.384615;

    & a {
        text-decoration: none;
        color: currentColor;
    }
}

/*--- ヘッダーナビゲーション ---*/
.bl_headerNav {
    .bl_headerNav_inner {
        display: flex;
        margin: 0;

        list-style: none;

        &>*:last-child {
            margin-right: 0;
        }

        &>li {
            margin-right: 30px;
        }
    }

    .bl_headerNav_link {
        /* フォント指定 */
        color: #ffffff;
        font-weight: bold;
        font-style: italic;
        @include m.letterSpacingAdjustment(.05em);
        line-height: 1.375;
        text-decoration: none;
    }
}

/*--- メインビジュアル ---*/
.bl_jumbotron {
    /*    position: absolute;
    top: 0; */
    height: 100vh;
    width: 100vw;

    .bl_jumbotron_slide {
        padding: 0;
        margin: 0;

        list-style: none;
    }
}

.bl_jumbotron_slideItem img {
    width: 100%;
}

.bl_jumbotron_inner {
    display: flex;
    margin-left: 120px;
}

.bl_jumbotron_txt {
    position: absolute;
    top: 409px;

    text-align: center;
}

.bl_jumbotron_maincopy {
    z-index: 10;
    margin: 0;

    /* フォント指定 */
    color: #ffffff;
    font-size: 4.375rem;
    font-weight: bold;
    line-height: normal;
    letter-spacing: .05em;
}

.bl_jumbotron_subcopy {
    padding-top: 20px;
    margin: 0;

    /* フォント指定 */
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: normal;
    letter-spacing: .05em;
}

/*--- タイトル（h2） ---*/
.el_h2Heading {
    margin: 0;

    /* フォント指定 */
    font-weight: bold;
    font-style: italic;
    font-size: 3.75rem;
    @include m.letterSpacingAdjustment(.05em);
    line-height: normal;

    &>span {
        position: relative;
        display: inline-block;
        padding-right: 233px;
        margin-left: 100px;

        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            height: 5px;
            width: 200px;

            transform: translateY(-50%);
            content: "";
            background-color: #000000;
        }
    }

    /* Works用タイトル */
    &.el_h2Heading__works {
        color: #ffffff;
        @include m.letterSpacingAdjustment(.1em);

        &>span {
            padding-right: 248px;

            &::after {
                background-color: #ffffff;
            }
        }
    }

    /* Service用タイトル */
    &.el_h2Heading__service {
        @include m.letterSpacingAdjustment(.1em);

        &>span {
            padding-right: 229px;
        }
    }

    /* Contact用タイトル */
    &.el_h2Heading__contact {
        padding-top: 9px;

        color: #ffffff;
        @include m.letterSpacingAdjustment(.1em);

        &>span {
            padding-right: 231px;

            &::after {
                background-color: #ffffff;
            }
        }
    }
}

/*--- メッセージ（主張） ---*/
.el_msg {
    margin: 0;

    text-align: center;

    /* フォント指定 */
    font-weight: bold;
    font-size: 1.875rem;
    letter-spacing: .05em;
    line-height: 1.666666;
    color: red;

    &::before{
        content:'';
        display: block;
        margin-top: -1px;
    }

    &::after{
        content: '';
        display: block;
        margin-bottom: -3px;
    }
    
}

/*--- メディア ---*/
.bl_media {
    display: flex;

    align-items: center;

    .bl_media_body {
        width: 44%;
        margin-right: 12%;
    }

    .bl_media_txt {
        /* フォント指定 */
        font-weight: bold;
        line-height: 1.875;
        letter-spacing: .05em;
        color: red;
        margin: 0;

        &::before{
            content:'';
            display: block;
            margin-top: -5px;
        }
    
        &::after{
            content: '';
            display: block;
            margin-bottom: -2px;
        }
    }

    .bl_media_imgWrapper {
        width: 44%;
        margin: 0;
    }
}

/*--- 半透明テキスト ---*/
.el_opacityTxt {
    opacity: 5%;

    /* フォント指定 */
    color: #171717;
    font-weight: bold;
    font-size: 5.625rem;
    @include m.letterSpacingAdjustment(.05em);
    line-height: normal;
}

.el_opacityTxt__white {
    opacity: 10%;
    color: #ffffff;
}

/*--- 背景画像 ---*/
.el_bgimg {
    background-position: center center;
    background-size: cover;

    &.el_bgimg__works {
        background-image: url(../img/works-bgi@2x.jpg);
    }

    &.el_bgimg__contact {
        background-image: url(../img/contact-bgi@2x.jpg);
    }
}

/*--- カード ---*/
.bl_card {
    box-shadow: 0 0 6px #000000;
    background-color: #ffffff;
}

.bl_card_imgWrapper {
    margin: 0;

    &>img {
        width: 100%;
    }
}

.bl_card_txt {
    margin: 25px 20px 26px 20px;

    letter-spacing: .05em;
    /*
            @include m.lineHeightAdjustment(1.875);*/
    line-height: 1.875;

    color: red;

    &::before {
        content: '';
        display: block;
        margin-top: -4px;
    }

    &::after {
        content: '';
        display: block;
        margin-bottom: -3px;
    }
}

.bl_cardUnit__col3 {
    &>.bl_card {
        width: 32%;
        margin-right: 2%;

        /* 相殺対象（★） */
        margin-bottom: 25px;
    }

    &>.bl_card:nth-of-type(3n) {
        margin-right: 0;
    }
}

.bl_cardUnit {
    display: flex;

    flex-wrap: wrap;

    &.bl_cardUnit__col3 {
        /* カードが複数行に渡った時、最下部のマージンを相殺（★） */
        margin-bottom: -25px;
    }
}

/*--- ボタン ---*/
.el_roundedBtn {
    display: inline-block;
    height: 59px;
    width: 235px;

    box-sizing: border-box;
    text-decoration: none;
    background-color: #f7d43f;
    text-align: center;

    /* フォント指定 */
    color: #171717;
    font-size: 1rem;
    font-weight: bold;
    @include m.letterSpacingAdjustment(.05em);
    line-height: 1.875;
    box-shadow: 0 0 6px #1b1310;
    border-radius: 29.5px;
    border: none;
}

/*--- 画像付きリンク ---*/
.bl_imgLinks {
    display: flex;
    padding: 0;
    margin: 0;

    flex-wrap: nowrap;
    list-style: none;

    .bl_imgLinks_img {
        flex: 1;
        background-position: center center;
        background-size: cover;
        aspect-ratio: 3/2;

        &.bl_imgLinks_img__hearing {
            background-image: url(../img/service-img01@2x.jpg);
        }

        &.bl_imgLinks_img__planning {
            background-image: url(../img/service-img02@2x.jpg);
        }

        &.bl_imgLinks_img__direction {
            background-image: url(../img/sevice-img03@2x.jpg);
        }
    }

    .bl_imgLinks_link {
        display: inline-block;
        height: 100%;
        width: 100%;
        padding-top: 135px;


        text-decoration: none;
        text-align: center;

        /* フォント指定 */
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: bold;
        font-style: italic;
        letter-spacing: .05em;
        line-height: 1.25;

        &:hover {
            background-color: rgba(40, 47, 53, 70%);
        }
    }
}

/*--- CTAエリア ---*/
.bl_cta_txt {
    margin-top: 0;
    margin-bottom: 40px;

    text-align: center;
    /* フォント指定 */
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.45;
    letter-spacing: .05em;
}

/*--- フッター ---*/
.el_copyRight {
    margin: 0;

    /* フォント指定 */
    font-size: .875rem;
    font-weight: bold;
    line-height: normal;
    letter-spacing: .05em;
}

/*--- Contactページ ---*/
/*--- メインビジュアル ---*/
.bl_mainVisual {
    position: relative;
    height: 453px;
    width: 100vw;

    background-image: url(../contact/img/contact-page-bgi@2x.jpg);
    background-position: center center;
    background-size: cover;

    .el_opacityTxt {
        position: absolute;
        bottom: 40px;
        left: 48px;
    }
}

/*--- ページタイトル ---*/
.el_pageTitle {
    /* 上下中央揃え */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;

    transform: translate(-50%, -50%);

    /* フォント指定 */
    font-size: 3.75rem;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    letter-spacing: .1em;
    color: #ffffff;
}

/*--- お問い合わせフォーム ---*/
.bl_contactForm {
    padding: 97px 30px 80px 30px;
    margin: 0 auto;

    max-width: 760px;
}

.bl_contactForm_item {
    margin-bottom: 21px;

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        width: 100%;

        border: 1px solid #141414;

        /* 元のデザインを消去 */
        appearance: none;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        height: 30px;
    }

    textarea {
        display: block;
        height: 171px;
    }
}

/* 項目名 */
.bl_contactForm_ttl {
    display: block;
    margin: 0 0 4px 0;

    /* フォント指定 */
    font-size: 1rem;
    line-height: normal;
    letter-spacing: .05em;

}

/* チェックボックスを横並びにする */
.bl_checkboxUnit {
    display: flex;
}

/* チェックボックス */
.bl_checkbox {
    display: inline-flex;

    align-items: center;

    input[type="checkbox"] {
        position: relative;
        height: 10px;
        width: 10px;
        margin: 0 10px 0 0;

        /* 元のデザインを消去 */

        appearance: none;

        /* ボックスデザインを定義 */
        &::before {
            position: absolute;
            display: inline-block;
            height: 10px;
            width: 10px;

            content: "";
            box-sizing: border-box;
            border: 1px solid #141414;
        }

        /* チェックマークデザインを定義 */
        &::after {
            position: absolute;
            display: inline-block;

            /* チェックマーク */

            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: .5rem;
            opacity: 0;
        }

        &:checked::after {
            opacity: 1;
        }
    }

    label {
        display: inline-block;
        margin-right: 20px;

        letter-spacing: .05em;
        line-height: 1.4375;
    }
}

/*--- 色指定 ---*/
.bg_gray30 {
    display: inline-block;
    height: 100%;
    width: 100%;

    background-color: rgba(23, 23, 23, 30%);
}

/*--- 右揃え ---*/
.ta_right {
    text-align: right !important;
}

/*--- 中央揃え ---*/
.ta_center {
    text-align: center;
}

/* パディング指定 */
.hp_pb60 {
    padding-bottom: 60px !important;
}

.hp_pb70 {
    padding-bottom: 70px !important;
}

.hp_pb80 {
    padding-bottom: 80px !important;
}

/* マージン指定 */
.hp_mb2 {
    margin-bottom: 2px !important;
}

.hp_mb3 {
    margin-bottom: 3px !important;
}

.hp_mb20 {
    margin-bottom: 20px !important;
}

.hp_mb80 {
    margin-bottom: 80px;
}