/*------------------------------------------------
    ファイル名：_mixin.scss
    機能：mixinを記述する
--------------------------------------------------*/

/*--- line-heightを調節する（XDとwebで仕様が異なるため） ---*/
@mixin lineHeightAdjustment($line-height) {

    color: red;

    &::before,
    &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
    }

    &::before {
        margin-top: calc((#{$line-height} - 1) * -0.5em);
    }

    &::after {
        margin-bottom: calc((#{$line-height} - 1) * 0.5em);

    }
}